<% provide(:title, @user.name) %>
<div class="row">
  <aside>
  	<%=@user.name%>
  	<%=@user.email%>
  	<%=@user.tel%>
  	<%=@user.louhao%>
  	<%=@user.jiqu%>
  	<%=@user.fangjian%>
  	<%=@user.zuoyou%>
  </aside>

  <%=render "user_list"%>
</div>



